# Sets

In Python, a set is a built-in data type used to store a collection of unique, unordered items.

In [ ]:
# set with only unique values

my_set = {1,2,3,4,5}
print(my_set)

# not unique values are discarted

my_set2 = {1,2,2,3,4,5,5}
print(my_set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

    Only unique values can be added to a set

In [ ]:
my_set3 = {1,2,3}
my_set3.add(100)
my_set3.add(2)
print(my_set3)

{1, 2, 3, 100}

    A list can be converted into a set

In [ ]:
my_list = [1,2,3,3,4,5,5]
set(my_list)

{1, 2, 3, 4, 5}

    Way to check existence of a value in a set

In [ ]:
my_set4 = {1,2,3,4,5,5}
print(1 in my_set4)

True

    Sets can be converted into lists

In [ ]:
my_set5 = {1,2,3,4}
print(list(my_set5))

[1, 2, 3, 4]

    Sets can be copied

In [ ]:
new_set = my_set4.copy()
my_set4.clear()
print(new_set)
print(my_set4)

{1, 2, 3, 4, 5}
set()

# Most important set methods

    .difference()

In [ ]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.difference(your_set))
print(my_set)

{1, 2, 3}
{1, 2, 3, 4, 5}

    .discard()

In [ ]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.discard(5)
print(my_set)

{1, 2, 3, 4}

    .difference_update()

In [ ]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.difference_update(your_set)
print(my_set)

{1, 2, 3}

    .intersection()

In [ ]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.intersection(your_set))
print(my_set & your_set) # other method

{4, 5}
{4, 5}

    .isdisjoint()

In [ ]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.isdisjoint(your_set))

False

    .union()

In [39]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set)
print(your_set)
print(my_set.union(your_set))
print(my_set | your_set) # other method

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

    .issubset()

In [38]:
my_set = {4,5}
your_set= {4,5,6,7,8,9,10}
print(my_set.issubset(your_set))

True

    .supperset()

In [41]:
my_set = {4,5}
your_set= {4,5,6,7,8,9,10}
print(my_set.issuperset(your_set))
print(your_set.issuperset(my_set))

False
True